<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Menú con Hash y Divs</title>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">  <link rel="stylesheet" href="estilos.css" />
  <link rel="stylesheet" href="carrousel.css" />
</head>
<body>

  <div class="encabezado">
    Placeholder
  </div>

  <header>
    <nav>
      <a href="#opcion1" style="font-size: 2em">Home</a>
      <a href="#opcion2" style="font-size: 2em">Ceremonia</a>
      <a href="#opcion3" style="font-size: 2em">Sobre nosotros</a>
      <a href="#opcion4" style="font-size: 2em">FAQ</a>
      <a href="#opcion5" style="font-size: 2em">Alojamiento y transporte</a>
      <a href="#opcion6" style="font-size: 2em">Formulario</a>
    </nav>
  </header>
  <div class="content">
    <div id="opcion1" class="pagina">
      

  <div class="carrusel-container">
    <div class="titulo">Nos casamos</div>
    <div class="carrusel" id="carrusel">
      <!-- Imágenes duplicadas para bucle continuo -->
      <img src="resources/imagenes/1.png" alt="1">
      <img src="resources/imagenes/2.png" alt="2">
      <img src="resources/imagenes/3.png" alt="3">
      <img src="resources/imagenes/4.png" alt="4">
      <img src="resources/imagenes/1.png" alt="1-dup">
      <img src="resources/imagenes/2.png" alt="2-dup">
      <img src="resources/imagenes/3.png" alt="3-dup">
      <img src="resources/imagenes/4.png" alt="4-dup">
    </div>
  </div>
    </div>
  </div>


  <div class="content">
    <div id="opcion2" class="pagina">
      <p class="georgia-font">  25.10.2025  </p>
<p style="font-weight: bold">Únete a nosotros para celebrar nuestro día más especial en El Palacio de Esquileo.</p>
<p class="subtitulo">Sábado 25 de Octubre </p>
<p class="georgia-font">1pm</p>
Celebra nuestra unión con una ceremonia por todo lo alto.
<br>
<p class="georgia-font">2pm</p>
¡Es la hora del cocktail y el cuerpo lo sabe!
<br>
<br>
<p class="georgia-font">3-30pm</p>
Una comida digna de una celebración así.
<br>
<p class="georgia-font">7pm hasta 11pm</p>
¡Que el ritmo no pare, no pare no!
<br>
<br>

    </div>
    <div id="opcion3" class="pagina Bickham">
      </div>
      <div class="contenedor-imagen-texto-imagen">
      <img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">
        <p class="bloque-texto2">
        Después de 10 años de amor, por fin hemos dado el gran paso. Pero lo que muchos no saben es que nuestra historia comenzó mucho antes… cuando apenas teníamos 5 años.
        </p>
        <img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
        </div>
        
      <div class="contenedor-imagen-texto-imagen">
        <img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
        <p class="bloque-texto2">
        Desde la escuela infantil compartimos clase, y aún conservamos ese recuerdo mágico de una visita al Museo del Ferrocarril. Sin saberlo, el destino ya nos daba pequeñas señales de que nuestras vidas estaban entrelazadas.
</p>
  
<img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">        
</div>

<div class="contenedor-imagen-texto-imagen">
  <img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
<p class="bloque-texto2">
Pasaron los años, y fue en 3º de la ESO cuando el destino volvió a cruzar nuestros caminos. Las matemáticas no eran lo mío, pero Javi, con su infinita paciencia, se ofreció a ayudarme. Lo que empezó como una simple clase, fue el primer paso de algo mucho más grande.
</p>
<img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
</div>

<div class="contenedor-imagen-texto-imagen">
  <img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
<p class="bloque-texto2">
Los años pasaron, y podéis llamarlo destino… o estrés por 2º de Bachillerato, pero el 29 de marzo de 2015 nos armamos de valor y dimos el primer paso: empezamos a salir juntos.
</p>
<img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
</div>

<div class="contenedor-imagen-texto-imagen">
  <img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
<p class="bloque-texto2">
 Después vino un año y medio de relación a distancia entre Vilnius, Orlando y Londres, muchos altibajos, una pandemia de por medio y, sobre todo, muchas lecciones para aprender a querernos más cada día… hasta que al fin comenzamos a vivir juntos.
</p>
<img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
</div>

<div class="contenedor-imagen-texto-imagen">
  <img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
<p class="bloque-texto2">
 Creamos nuestro hogar, adoptamos a nuestras dos gatitas, Lexa y Rory, y hasta sobrevivimos a ser Presidentes de Comunidad (sí, una verdadera prueba de fuego)
</p>
<img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
</div>

<div class="contenedor-imagen-texto-imagen">
  <img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
<p class="bloque-texto2">
 Hoy hemos visitado más de 10 países, hemos compartido más de 2300 días juntos… y aún sentimos la misma ilusión que el primer día y celebramos el poder seguir disfrutándonos.
</p>
<img src="resources/iconos/CORAZON.png" alt="1" class="imagen-fija; right: 0">  
</div>
</div>
    
</div>
<div id="opcion4" class="pagina arial">
    <div class="faq">
        <div class="faq-item">
          <button class="faq-question">
            <span class="flecha arial">▼</span>
            ¿Dónde se realiza la celebración?
          </button>
          <div class="faq-answer">
            Para facilitar la celebración, la ceremonia, el cocktail, comida y fiesta se celebra todo en el mismo recinto, en la finca Palacio de Esquileo de Sotos de Sepúlveda
            Dirección del Palacio de Esquileo: Carretera de Burgos (Autovía del Norte), Salida 107 (Km. 107). Sotos de Sepúlveda, Segovia. 
          </div>
        </div>
      
        <div class="faq-item">
          <button class="faq-question">
            <span class="flecha">▼</span>
            ¿Hay algún código de vestimenta?
               </button>
          <div class="faq-answer">
            Nos encantaría que te sintieras cómodo/a, pero para que todos estemos en la misma sintonía, hemos optado por un código de vestimenta semi-formal. ¡Queremos veros guapos/as y elegantes, pero sin que nadie se sienta incómodo/a!
          </div>
        </div>
      
        <div class="faq-item">
            <button class="faq-question">
              <span class="flecha">▼</span>
              ¿Puedo llevar a mi pareja/acompañante?
            </button>
            <div class="faq-answer">
                ¡Por supuesto! Si tu invitación es para ti solo/a, lamentablemente no podrás llevar acompañante. Pero si tienes alguna duda, no dudes en consultarnos directamente a través de nuestro teléfono y veremos qué se puede hacer.
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">
              <span class="flecha">▼</span>
              ¿Dónde puedo aparcar?
            </button>
            <div class="faq-answer">
                Habrá aparcamiento disponible en los exteriores del Palacio de Esquileo.
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">
              <span class="flecha">▼</span>
              ¿Puedo llevar niños a la boda?
            </button>
            <div class="faq-answer">
                Queremos que todos disfruten de este día especial, por lo que hemos preparado un espacio para los más pequeños. Si vas a venir con niños, por favor avísanos con antelación para asegurarnos de que todo esté preparado.
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">
              <span class="flecha">▼</span>
              ¿Cuáles son las opciones de menú?
            </button>
            <div class="faq-answer">
                Hemos preparado un menú delicioso que tiene en cuenta diferentes preferencias dietéticas. Habrá opciones vegetarianas, veganas, sin gluten, sin lactosa, sin huevo y sin fructosa. Si tienes alguna alergia o restricción alimentaria, por favor indicanoslo en el formulario de confirmación de asistencia.
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">
              <span class="flecha">▼</span>
              ¿Hay alguna lista de bodas?
            </button>
            <div class="faq-answer">
                No hemos creado ninguna lista de bodas ya que al llevar tantos años juntos tenemos todo lo que necesitamos. 
                Con tu asistencia es suficiente pero si quieres ayudarnos en nuestra Luna de Miel puedes hacer un ingreso en  -                                              o darnos el regalo el mismo día de la celebración.                
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">
              <span class="flecha">▼</span>
              ¿Cómo confirmo mi asistencia?
            </button>
            <div class="faq-answer">
                Por favor, confirma tu asistencia antes del 5 de septiembre en el formulario de RSVP que encontrarás en esta misma página. Es importante para nosotros saber cuántos seremos para poder preparar todo a la perfección.
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">
              <span class="flecha">▼</span>
              ¿Puedo hacer fotos o videos durante la ceremonia?
            </button>
            <div class="faq-answer">
                Queremos que todos disfrutéis del momento y no os preocupéis por nada, por lo que hemos decidido que nuestro fotógrafo oficial se encargará de capturar los mejores momentos. Si quieres hacer fotos o videos durante el día, ¡eres más que bienvenido/a! 
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">
              <span class="flecha">▼</span>
              ¿Qué pasa si no puedo asistir a la boda?
            </button>
            <div class="faq-answer">
                Lo lamentamos mucho, pero entendemos que a veces surgen imprevistos. Si no puedes asistir, por favor avísanos lo antes posible para ajustar la planificación. Te echaremos de menos.
            </div>
          </div>
    </div>
  </div>
<div id="opcion5" class="pagina">
      <p class="subtitulo">Alojamiento</p>
    <p class="bloque-texto">
    Sí, lamentablemente el Palacio de Esquileo no dispone de alojamiento para todos los invitados. Hemos reservado todo el hotel dónde se realiza la celebración para nuestros invitados más cercanos. Estas habitaciones se han repartido según necesidad.
      </p>
    <p class="bloque-texto">Sotos de Sepulveda se encuentra cerca de localidades con más hospedaje como es Riaza. A continuación os dejamos una lista de hoteles dónde podéis alojaros a tan solo 10/15 minutos del lugar de celebración.
</p>
  <p class="subtitulo">Transporte</p>
??????????????
    </div>
  <div id="opcion6" class="pagina">
    <p class="bloque-texto">
    Por favor en la medida en la que os sea posible rellenad <a href="https://docs.google.com/forms/d/e/1FAIpQLSeHCC7iVIuJePDNiWL0e-rYNn6CfaiPTcYdyvg3aPcbWM81Mw/viewform?usp=dialog">este formulario</a>
    </p>
  </div>

  <script src="scripts.js"></script>
  <script src="carrousel.js"></script>
  
</body>
</html>
